The purpose of this notebook is to format data and actually make it UNTIDY...but I want the data in a specific format so that I can plot it as a steamgraph. Data is from OEDC, and it concerns R&D expenditures by various countries, presented both as a fraction of GDP and as a total value.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('oecd_data_totals_fractions.csv')

In [3]:
df.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME        Value  Flag Codes
0      AUS   GDEXPRD     TOT  MLN_USD         A  1981  3538.817366         NaN
1      AUS   GDEXPRD     TOT  MLN_USD         A  1984  4320.861608         NaN
2      AUS   GDEXPRD     TOT  MLN_USD         A  1986  5309.003936         NaN
3      AUS   GDEXPRD     TOT  MLN_USD         A  1987  5416.782093         NaN
4      AUS   GDEXPRD     TOT  MLN_USD         A  1988  5753.765240         NaN